body {
    font-family:sans-serif;
}
.parent {
    height: 50vh;

    /* add solution here */
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;
}

.child {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
}

button {
    border: solid 2px;
    border-color: tan;
    padding: 1rem;
    background-color: rgba(210, 180, 140, 0.815);
}
a {
    text-decoration: none;
    padding: 1rem;
    color: black;
}
a:hover {
    color: white;
} 
button:hover {
    background-color: rgba(218, 156, 75, 0.918);
}